.form {
  display: flex;
  gap: 12px;
  justify-content: baseline;
  align-items: center;
}

.lable {
  font-size: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.formInput {
  border: none;
  border-radius: 5px;
  height: 24px;
  font-size: 16px;
}

.formBtn {
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: #aef3ba;
  color: #424242;
  cursor: pointer;
}
